<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.realdealagency.ramadan2017"
        version   = "1.3.0">

    <name>مسلسلات رمضان 2017</name>

    <description>
        مسلسلات رمضان 2017
    </description>

    <author href="http://www.realdealagency.com" email="info@realdealagency.com">
        Real Deal
    </author>

    <preference name="phonegap-version" value="3.0.0" /> 

    <gap:plugin name="org.apache.cordova.core.inappbrowser" />
</widget>
